server:
  port: 8081

spring:
  application:
    name: homme-service
  
  datasource:
    url: jdbc:postgresql://localhost:5433/homme_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  sql:
    init:
      mode: always
      continue-on-error: true
  
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    com.projetproduits.homme: DEBUG
    org.hibernate.SQL: DEBUG
